<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA54xBgBQMy9W253751Mj-uZxIlkE5Zgts</string>
	<key>GCM_SENDER_ID</key>
	<string>935944261487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waitingboard</string>
	<key>PROJECT_ID</key>
	<string>orthowaittimes</string>
	<key>STORAGE_BUCKET</key>
	<string>orthowaittimes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935944261487:ios:164b9b99f8dc0ef5fa629a</string>
</dict>
</plist>